.u-section-1 .u-sheet-1 {
  min-height: 547px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 487px;
  width: 845px;
  margin: 18px auto 42px;
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}