 .u-section-1 {
  background-image: none;
  min-height: 1075px;
}

.u-section-1 .u-line-1 {
  width: 1289px;
  transform-origin: left center 0px;
  margin: 7px auto 0 calc(((100% - 1140px) / 2) + -99px);
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 511px;
  background-image: none;
  width: 883px;
  margin-top: 37px;
  margin-bottom: 0;
  margin-left: calc(((100% - 1140px) / 2) + 111px);
}

.u-section-1 .u-btn-1 {
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.375rem;
  margin: 39px calc(((100% - 1140px) / 2) + 137px) 0 auto;
  padding: 10px 26px 10px 25px;
}

.u-section-1 .u-icon-1 {
  color: rgb(85, 96, 128) !important;
}

.u-section-1 .u-text-1 {
  font-size: 2.375rem;
  margin: -65px calc(((100% - 1140px) / 2) + 643px) 0 calc(((100% - 1140px) / 2) + 111px);
}

.u-section-1 .u-text-2 {
  margin: 63px calc(((100% - 1140px) / 2) + 635px) 0 calc(((100% - 1140px) / 2) + 119px);
}

.u-section-1 .u-text-3 {
  margin: 51px calc(((100% - 1140px) / 2) + 137px) 0 calc(((100% - 1140px) / 2) + 119px);
}

.u-section-1 .u-line-2 {
  width: 1289px;
  transform-origin: left center 0px;
  margin: 70px auto 7px calc(((100% - 1140px) / 2) + -99px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    width: 845px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: 33px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 497px);
    margin-left: calc(((100% - 940px) / 2) + 57px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 535px);
    margin-left: calc(((100% - 940px) / 2) + 19px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 37px);
    margin-left: calc(((100% - 940px) / 2) + 19px);
  }

  .u-section-1 .u-line-2 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 334px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 334px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-line-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 540px) / 2) + 204px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 540px) / 2) + 204px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-line-2 {
    width: calc(((100% - 540px) / 2) + 579px);
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-custom-html-1 {
    width: 440px;
    margin-left: calc(((100% - 340px) / 2) + -32px);
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-right: calc(((100% - 340px) / 2) + 170px);
    margin-left: calc(((100% - 340px) / 2) + -32px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 24px);
    margin-left: calc(((100% - 340px) / 2) + -24px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 24px);
    margin-left: calc(((100% - 340px) / 2) + -24px);
  }

  .u-section-1 .u-line-2 {
    width: 433px;
    transform-origin: right center 0px;
  }
}