 .u-section-1 {
  background-image: none;
  min-height: 1060px;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  position: absolute;
  top: 0;
  left: 50px;
  width: 1140px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 487px;
  margin-top: 54px;
  margin-left: calc(((100% - 1140px) / 2) + 126px);
  margin-bottom: 0;
  width: 840px;
}

.u-section-1 .u-text-1 {
  margin: 90px auto 0 182px;
}

.u-section-1 .u-text-2 {
  margin: -52px auto 0 630px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 16px 672px 0 182px;
}

.u-section-1 .u-text-4 {
  margin: 51px 174px 0 182px;
}

.u-section-1 .u-line-2 {
  transform-origin: left center 0px;
  width: 1238px;
  margin: 85px auto 3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    width: 940px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 940px) / 2) + 100px);
  }

  .u-section-1 .u-text-2 {
    margin-left: 519px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 572px;
    margin-left: 82px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 74px;
    margin-left: 82px;
  }

  .u-section-1 .u-line-2 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 720px) / 2));
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 398px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 434px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 540px) / 2));
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 137px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 299px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 254px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 340px) / 2));
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 86px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 188px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 54px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }
}