 .u-section-1 {
  background-image: none;
  min-height: 1357px;
}

.u-section-1 .u-line-1 {
  width: calc(((100% - 1140px) / 2) + 1239px);
  transform-origin: left center 0px;
  margin: 196px calc(((100% - 1140px) / 2) + -99px) 0 auto;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 511px;
  background-image: none;
  width: 883px;
  margin: 50px 183px 0 174px;
}

.u-section-1 .u-text-1 {
  font-size: 2.875rem;
  margin: 51px calc(((100% - 1140px) / 2) + 622px) 0 calc(((100% - 1140px) / 2) + 132px);
}

.u-section-1 .u-btn-1 {
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.375rem;
  margin: -62px calc(((100% - 1140px) / 2) + 133px) 0 auto;
}

.u-section-1 .u-icon-1 {
  color: rgb(85, 96, 128) !important;
}

.u-section-1 .u-text-2 {
  margin: 48px 672px 0 182px;
}

.u-section-1 .u-text-3 {
  width: 884px;
  margin: 51px auto 0;
}

.u-section-1 .u-line-2 {
  width: 1289px;
  transform-origin: left center 0px;
  margin: 70px auto 60px calc(((100% - 1140px) / 2) + -86px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    width: 845px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: 33px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 522px);
    margin-left: calc(((100% - 940px) / 2) + 32px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: 572px;
    margin-left: 82px;
  }

  .u-section-1 .u-line-2 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 334px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: 434px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
    width: 720px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -45px;
    margin-right: calc(((100% - 540px) / 2) + 204px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: 168px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -150px;
    margin-right: calc(((100% - 540px) / 2) + 204px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-line-2 {
    width: calc(((100% - 540px) / 2) + 579px);
    margin-top: 148px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
    margin-top: -99px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 402px;
    width: 440px;
    margin-left: calc(((100% - 340px) / 2) + -32px);
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-top: -39px;
    margin-right: calc(((100% - 340px) / 2) + 170px);
    margin-left: calc(((100% - 340px) / 2) + -32px);
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 63px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: -79px;
    margin-right: calc(((100% - 340px) / 2) + 24px);
    margin-left: calc(((100% - 340px) / 2) + -24px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 18px;
    margin-right: calc(((100% - 340px) / 2) + 24px);
    margin-left: calc(((100% - 340px) / 2) + -24px);
  }

  .u-section-1 .u-line-2 {
    width: 433px;
    transform-origin: right center 0px;
    margin-top: 115px;
  }
}